@font-face {
  font-family: "Yozai";
  src: url("https://fastly.jsdelivr.net/gh/Innei/static@master/fonts/yozai/Yozai.woff2")
      format("woff2"),
    url("https://fastly.jsdelivr.net/gh/Innei/static@master/fonts/yozai/Yozai.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
